#areas {
  display: flex;
  flex-direction: column;
}


.areas__div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  

  justify-content: space-evenly;
  margin: auto;
  width: 70%;
}
.areas__conteudo {
  overflow: hidden;
  width: 180px;
  height: 220px;
  border: 5px double #a38d61;
  margin: 5px;
  
}

.areas__img {
  width: 180px;
  height: 220px;
}

.areas__img:hover {
  zoom: 140%;
  transition: ease-in .2s

  
}

.areas__div--titulo {
  text-align: center;
  color: white;
}
