#areas {
  display: flex;
  flex-direction: column;
}

.sub {
  text-align: center;
  margin: 0 auto 5% auto;
  font-size: .8rem;
  font-weight: 300;
  color: rgb(197, 197, 197);
  font-family: 'Montserrat', sans-serif;
}

.areas__div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;
  margin: auto;
  width: 70%;
}
.areas__conteudo {
  overflow: hidden;
  width: 180px;
  height: 220px;
  background-color: #4b4b4b;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__conteudo{
  
  font-size: 8rem;
  color: white;
}
.icon__conteudo:hover{
  transform: scale(.8);
  transition: ease-in-out 500ms;
  color: #a38d61;

}

.areas__div--titulo {
  text-align: center;
  color: white;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
}
