.area__conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4b4b4b;
  border-radius: 5px;
  box-sizing: border-box;
}

.icon__conteudo {
  margin: 2% 0 0 0;
}

.area:first-child {
  margin: 10% auto 0 auto;
}
.area {
  display: flex;
  flex-direction: row;
}
.areas__textos {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.areas__texto {
  font-size: 18px;
  color: white;
}

.fa-arrow-right {
  font-size: 10px;
}
@media screen and (min-width: 0) {
  .area__conteudo {
    width: 90%;
    height: 500px;
   padding: 1%;
    margin: 2% auto;
    overflow-y: scroll;
  }
  .areas__textos {
    height: auto;
  }
 
  .titulo {
    font-size: 18px;
    text-align: center;
  }
  .areas__texto {
    width: 90%;
    font-weight: lighter;
    font-size: 16px;
    text-align: left;
  }

  .area:first-child {
    margin: 30% auto 0 auto;
  }

  .icon__conteudo {
    font-size: 3rem;
    color: white;
    margin: 3% auto;
  }
}

@media screen and (min-width: 768px) {
  .area__conteudo {
    width: 90%;
    height: 500px;
    padding: 2%;
    margin: 5% auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .icon__conteudo {
    font-size: 4rem;
 
  }

  .areas__textos {
    height: auto;
    width: 100%;
    padding: 5%;
  }
  
  .titulo {
    font-size: 20px;
    text-align: center;
  }
  .area__img {
    display: none;
  }
  .areas__texto {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
  }

  .area:first-child {
    margin: 5% auto 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .area__conteudo {
    margin: 2% auto;
    height: auto;
    overflow: hidden;
    padding: 2%;
  }
  .icon__conteudo {
    font-size: 5rem;
 
  }
  .areas__textos {
    width: 70%;
  }
  
  .titulo {
    font-size: 16px;
    text-align: center;
  }
  .areas__texto {
    margin: 2%;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .areas__textos {
    width: 80%;
  }
  .area__img {
    width: 400px;
  }
  .icon__conteudo{
    font-size: 
    7rem;
  }
  .titulo {
    font-size: 26px;
    text-align: center;
  }
  .areas__texto {
    margin: 1%;
    width: 100%;
    font-weight: 300;
    font-size: 20px;
  }
}
