
.nav__conteudo {
  align-items: center;
  display: flex;
  height: 100px;
  width: 100%;;
  justify-content: space-around;
  z-index: 9
}

.logo {
  height: auto;
  position: static;
}

.nav__lista {
  display: flex;
  padding: 5px;
  text-transform: uppercase;
}

.nav__lista--item {
  margin: 8px;
}
.nav__lista--item a {
  color: #a38d61;
}

.nav__link--branco:hover {
  border-bottom: 4px solid #a38d61;
  color: white;
}

.nav__link--preto:hover{
border-bottom: 4px solid #a38d61;
color: black;

}

@media screen and (min-width: 0) {
  .logo {
    width: 180px;
  }

  .btn__menu {
    background-color: transparent;
    border: none;
    color: #a38d61;
    font-size: 20px;
    font-weight: 500;
  }

  .nav__lista {
    display: none;
  }

  .nav__lista--mobile {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 0;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: 85px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 250px;
  }

  .btn__menu {
    display: none;
  }

  .nav__lista {
    display: flex;
  }

  .nav__lista--mobile {
    display: none;
  }
}

@media screen and (min-width: 1020px) {
}
