.principal{
    background-image: url(../img/home.jpg);
    background-size: cover;
    height: 88.8vh;
    width: 99.5vw;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.6);
    margin: auto;
    background-position: center;
    display: flex;
    justify-content: flex-start;
}

.titulo__principal{
    align-self: center;
    color: white;
    margin: 0 10%;
    font-size: 3em;
    font-weight: 500;
    
}